<html lang = "cs">
<body>
<section id="head">
  <div id="menu">
    <nav>
      <a class="button-actual" <%= link_to "HOME", '/pages/index' %></a>
      <a class="menu-button" <%= link_to "HLEDÁM", '/pages/sitters' %> </a>
      <% if user_signed_in? %>
          <a class="menu-button" <%= link_to 'PROFIL', edit_user_registration_path, :class => 'navbar-link' %></a>
      <% else %>
          <a class="menu-button" <%= link_to "CHCI HLÍDAT", new_user_registration_path, :class => 'navbar-link'  %></a>
      <% end %>
      <% if user_signed_in? %>
          <a class="menu-button"<%= link_to "LOGOUT", destroy_user_session_path, method: delete, :class => 'navbar-link'%></a>
          <%= image_tag current_user.image.thumb.url%>
      <% else %>
          <a class="menu-button" <%= link_to "LOGIN", new_user_session_path, :class => 'navbar-link'  %></a>
      <% end %>
    </nav>
  </div>


  <section id="content">
    <div id="banner"></div>
    <article id="text">
      <h1 class="sitForm">Registrace nového uživatele</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="sitForm">
            <%= f.label :uzivatelske_jmeno %><br/>
            <%= f.text_field :username, class: 'form-control' %>
          </div>

          <div class="sitForm">
            <%= f.label :jmeno %><br/>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="sitForm">
            <%= f.label :vek%><br/>
            <%= f.text_field :age, class: 'form-control'%>
          </div>

          <div class="sitForm">
            <%= f.label :mesto%><br/>
            <%= f.text_field :city, class: 'form-control'%>
          </div>

          <div class="sitForm">
            <%= f.label :popis%><br/>
            <%= f.text_area :description, class: 'form-controll', :rows => 6%>
          </div>

          <div class="sitForm">
            <%= f.label :email %><br/>
            <%= f.email_field :email, class: 'form-control' %>
          </div>

          <div class="sitForm">
            <%= f.label :telefon%><br/>
            <%= f.text_field :phone%>
          </div>

          <div class="sitForm">
            <%= f.label :password %><br/>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            <% if @validatable %>
                <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
            <% end %>
          </div>

          <div class="sitForm">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="sitForm">
            <%= f.label :image do %><br/>
                <%= f.file_field :image %>
                <%= f.hidden_field :image_cache %>
            <% end %>
          </div>

          <div class="sitForm">
            <%= f.submit "Sign up" %>
          </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </article>
    <aside id="right-column">
      <% @sideArticles = Article.where(category_id: 2).where(published: "t")%>
      <% @sideArticles.each do |article| %>
          <h2 class="h-right"><%=article.title %></h2>
          <p class="text-right"><%=article.text %></p>
      <%end%>
    </aside>
    <div id="picus">
      <p>Onehalf<sup>®</sup> <%= link_to "Administrace", '/admin/admin'%></p>
    </div>
  </section>
</section>

</body>
</html>

