<section id="head">
  <div id="menu">
    <nav>
      <a class="menu-button" <%= link_to "Web Home", '/pages/index' %></a>
      <a class="button-actual" <%= link_to "Clanky", '/articles' %> </a>
      <a class="menu-button" <%= link_to "Uzivatele", '/admin/userList' %></a>
      <a class="logout" <%= link_to "Dashboard", '/pages/dashboard'%></a>
    </nav>
  </div>
  <section id="contentAdmin">
    <article id="adminText">
      <h1 class="sitForm">Editace clanku</h1>
      <%= render 'form' %>
      <br>
    </article>

  </section>
</section>