<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans"
        rel="stylesheet">
  <% content_for :title, "Hlídání dětí" %>
</head>

<body>
<section id="head">
  <div id="menu">
    <nav>
      <a class="button-actual" <%= link_to "HOME", '/pages/index' %></a>
      <a class="menu-button" <%= link_to "HLEDÁM", '/pages/sitters' %> </a>
      <a class="menu-button" <%= link_to "CHCI HLÍDAT", '/sitters/new' %></a>
      <% if user_signed_in? %>
          <a class="menu-button"<%= link_to "LOGOUT", destroy_user_session_path, method: delete, :class => 'navbar-link'%></a>
      <% else %>
         <a class="menu-button" <%= link_to "LOGIN", new_user_session_path, :class => 'navbar-link'  %></a>
      <% end %>
    </nav>
  </div>

  <div id="banner"></div>
</section>

<section id="content">
  <article id="text">

    <% @mainArticles.each do |article| %>
        <h1><%=article.title%></h1>
        <p class="text"><%=article.text%></p>
    <%end%>
  </article>

  <aside id="right-column">
    <% @sideArticles.each do |article| %>
        <h2 class="h-right"><%=article.title %></h2>
        <p class="text-right"><%=article.text %></p>
    <%end%>
  </aside>

  <div id="picus">
    <p>Onehalf<sup>®</sup>  <%= link_to "Administrace", '/admin/admin'%></p>
  </div>
</section>
</body>
</html>